.display-none {
    display: none;
}

#chat-container {
    margin-top: 10px;
}

#chat-messages {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 10px;
    overflow: auto;
    padding: 2px;
}

#leave-btn {
    margin-top: 5px;
}

#game-canvas {
    border: 1px solid black;
}

#create-game-container {
    margin-top: 10px;
}

.game-element {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
